@font-face {
   font-family: 'RoadRage';
   src: url('./componentes/base/Road_Rage.otf') format('otf');
}

@font-face {
   font-family: 'Designer';
   src: url('./componentes/base/DESIGNER.otf') format('otf'); }


* {
   padding: 0%;
   margin: 0%;
   box-sizing: border-box;
   font-family: sans-serif;
}



#header {
   position: fixed ;
   right: 0;
   top: 0;
   z-index: 1000;
   width: 80%;
   display: flex;
   align-items:baseline;
   justify-content: space-between;
   padding: 33px 9%;
   background: transparent; }

ul.horizontal-list li{
   list-style: none;
   display: inline;
   padding: 0;
   margin-right: 50px;
}

.logo {
   position: fixed;
   top: -60px;
   left: 0;

}

#image-container {
   position: relative;
}

#img1, #img2{
   position: absolute;
   top: -30px;
   right: -100px;
   transition: opacity 0.8s ease;
}

#img2 {
   z-index: -1;
   opacity: 0;
}

#image-container:hover #img1 {
   opacity: 0;
}

#image-container:hover #img2 {
   opacity: 1;
}


li {
   display: flex;
   width: 200px;
   height: 120px;
   background-color: transparent;
   border-radius: 10px;
   display: flex;
   color: white;
   margin: 30px;
   font-size: 12px;
   font-weight: 600;
   border-bottom: 18px solid transparent;
   transition: all .20s ease;
}

li:hover {
   margin: 30px;
   border: 12px solid white;
   background-color: white;
   color: black;
}



#general {
   height: 100%;
   width: 100%;
   min-height: 100vh;
   position: relative;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   gap: 2rem;
   background: rgb(0,0,0);
   background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(14,21,65,1) 35%, rgba(10,47,217,1) 100%);
}

#pub {
  
   font-size: 55px;
   position: relative;
   top: 10px;
   z-index: 100;
   color: white;
   left:90%;
   transition: transform 0.5s ease;
}

#pub:hover {
   transform: scale(1.2);
}

.Vehicle #img4 {

   position: relative;
   left: 100%;
   transition: transform 0.5s ease;
   
}

.Vehicle #img4:hover {
   transform: scale(1.2);

}